<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAztWs1di03PKlejGop2AbQyLfBVd9tJ_k</string>
	<key>GCM_SENDER_ID</key>
	<string>533854786827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.clemia.app</string>
	<key>PROJECT_ID</key>
	<string>prj-p-k9canine-ip-a344</string>
	<key>STORAGE_BUCKET</key>
	<string>prj-p-k9canine-ip-a344.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533854786827:ios:e7151dd965c53c09e43e0e</string>
</dict>
</plist>